.scroll-to-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 6;
}


.scroll-to-top button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.scroll-to-top button:hover a {
    color: #8252fa !important;
}

.scroll-to-top-animation {
    animation-name: scroll-to-top-animation;
    animation-duration: 1s;
}

@keyframes scroll-to-top-animation {
    from { opacity: 0 }
    to { opacity: 100 }
}