.Pricing {
    width: 100% !important;
    position: relative !important;
    /*overflow-x: hidden !important;*/
}

.pricing-particle {
    position: absolute !important;
    top: 0;
}



/* card css */

.card-wrapper {
    width: 100%;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 285px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #1d1f21;
    position: relative;
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.top-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1.2;
    position: relative;
    align-items: center;
    padding: 1em 15px;
}

.card-icon {
    background: #fff;
    display: flex;
    margin-bottom: 0px;
    padding: 20px;
    width: 78px;
    height: 78px;
    border-radius: 50px;
    box-shadow: 0px 15px 25px rgb(0 4 74 / 4%);
    margin-bottom: 4px;
}

.card-icon img {
    filter: invert(48%) sepia(87%) saturate(5510%) hue-rotate(242deg) brightness(99%) contrast(98%);
}

.card-icon + p {
    margin-bottom: 4px;
}

.plan-title {
    font-size: 24px;
    margin-bottom: 50px;
}

.options { 
    text-align: center;
}

.options p {
    line-height: 30px;
}


